#main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#header-page {
  text-align: center;
}

#header-page img {
  width: 100px;
  height: 100px;
}


#content-books {
  display: flex;
}

.book {
  width: 400px;
}