html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #7159c1;
}

#content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#header-page {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#header-page img {
  width: 100px;
  height: 100px;
}

#main ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin:0;
  padding:0;
  width:100%;        
  height:100%
}

.data-book {
  width: 420px;
  list-style-type: none;
  display: block;
  margin: 10px;
}

#footer-page {
  display: flex;
  justify-content: center;
}

#footer-page p {
  margin: 0;
  margin-right: 5px;
}
